.wf_storage_back{
    background-size: contain;
    background-repeat: no-repeat;
    width: 170%;
    height: 170%;
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.wf_storage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: 100%;
    width: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 18px;
    padding-top: 48px;
    padding-bottom: 10px;
}

.wf_storage_item{
    width: 10px;
    height: 10px;
    background-color: #0009;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px;
}