.appgl1_wrapper{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.appgl1_map_block{
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
}

.appgl1_map{
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
}

.appgl1_canvas{
    width: 100%;
    height: 100%;
}