.row {
    display: flex;
  }
  
.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #0006;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;

}

.cell_letter {
    background-color: rgb(191, 255, 189);
}

.cell_input {
    background-color: rgb(252, 185, 91);
}