.commonCollapser{
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
    /*height: 100%;*/
}

.commonCollapser--collapsed{
    flex-shrink: 0;;
    grid-template-rows: 1fr;
}

.commonCollapser_content{
    display: flex;
    flex-direction: column;
    height: 100%;;
    overflow: hidden;
}