.wf_animal{
    position: absolute;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
 }
 