.wf_mainMenu_wrapper{
    width: 800px;
    height: 600px;
    user-select: none;
    position: relative;
}

.wf_mainMenu_editTools{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.wf_editorTool{

}

.wf_editorTool_active{
    background-color: #9f9;
}

.wf_mainMenu_back{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/wf_menu.png");
}

.wf_mainMenu_levelButton{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgba(211, 205, 28, 0.866);
    border-radius: 100%;
    border: 2px solid rgb(144, 120, 14);
}

.wf_mainMenu_levelButton_completed{
    background-color: rgba(9, 213, 40, 0.866);
    border: 2px solid rgb(35, 119, 17);
}

.wf_mainMenu_levelButton_locked{
    background-color: rgba(145, 145, 145, 0.866);
    border: 2px solid rgb(59, 59, 59);
}