.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid;
  user-select: none;
  cursor: pointer;
}

.game_wrapper{
  position: relative;
  height: 300px;
}

.field2 {
  position: absolute;
  /*overflow: hidden;*/
  width: 300px;
  height: 300px;
  top:0;
  left:0;
}

.cell2 {
  --posy:0;
  --posx:0;
  transition-timing-function: cubic-bezier(0.66, 0.25, 0.63, 1.26);
  position: absolute;
  width: 30px;
  height: 30px;
  /*border: 1px solid;*/
  user-select: none;
  cursor: pointer;
  top: calc(30px * var(--posy));
  left: calc(30px * var(--posx));
  transition-property: top, left, transform;
  transition-duration: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell2_from{
  animation: cell-hint 400ms infinite alternate-reverse;
}

.cell2_to{
  animation: cell-hint 400ms infinite alternate;
}

@keyframes cell-hint {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.2);
  }
}


.cell-img{
    width: 80%;
    height: 80%;
    position: absolute;
    background-size: contain;
    /*top: 0;
    left: 0;*/
    background-repeat: no-repeat;
}

.game-top-wrapper{
  display: flex;
}

.game-top-moves{
  padding: 10px;
}

.game-top-counters{
  display: flex;
  padding: 10px;
}