.editor_wrapper{
    position: relative;
    --size: 30px;
}

.editor_field{
    position: relative;
}

.tool{

}

.tool_selected{
    background-color: #999;
}

.editor_objects{
    pointer-events: none;
}