.wf_grass{
    border-radius: 100%;
    width: 16px;
    height: 16px;
    background-color: #0f00;
    opacity: 0.5;
    position: absolute;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}