.wf_animalsPanel{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;

    background-color: #ffd874;
    margin: 2px;
    padding: 0px;
    border-radius: 5px;
    border: 3px solid #c0730e;
    color: #955e16;
    font-weight: bold;
}

.wf_addAnimal_item{
    font-size: 11px;
    margin: 5px;
    padding: 5px;
    background-color: #955e16;
    color: #ffd874;
    border-radius: 5px;
    border: 1px solid #c0730e;
}

.wf_addAnimal_item_disabled{
    background-color: #ffd874;
    color: #955e16;
}